@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  --primary-color:#007FFF;
}
body{
  /* background-color: var(--primary-red); */
  color:var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  display: block;
}


h1{
  text-align: center;
}

.container{
  padding:0rem 1rem;/**Paddin:TRBL,Top Right Bottom Left**/
}

.container-center{
  max-width: 600px;
  margin:auto
}
.section{
  padding:2rem;
  text-align: center;
 
}
.section h1{
  text-align: center;
  font-size: 3rem;
  
}
label{
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
}
input{
  padding: 1rem 1rem 0.5rem 0.5rem;
  border-radius: 1rem;
  border-color:  var(--primary-color);
  text-align: center;
}
#check-number{
  display: block;
  margin-top: 1rem;
  margin:auto;
  background-color: var(--primary-color);
  color:white;
  border-color:var(--primary-color);
  border-radius: 0.5rem;
  width: 10rem;
  height: 3rem;
}

@media(max-width:768px){
  html{
      font-size:45%;
  }
}
@media(max-width:998px){
  html{
      font-size: 55%;
  }
}